.order-button {
    display: flex;
    justify-content: center;
    background-color: orangered;
    width: 300px;
    border: none;
    border-radius: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 32px;
    padding-right: 32px;

    color: white;
    font-size: 16px;
    font-family: RobotoM, sans-serif;
}

.order-button:hover {
    background-color: rgb(173, 46, 0);
    cursor: pointer;
}

.order-button:active {
    background-color: orangered;
    cursor: default;
}


/*Burger*/
.burger-button {
    background-color: whitesmoke;
    color: black;
    width: 276px;
    border: none;
    border-radius: 12px;
    padding-left: 92px;
    padding-right: 92px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 5px;
}

.burger-button:hover {
    cursor: pointer;
    background-color: gray;
}

.burger-button:active {
    cursor: default;
    background-color: whitesmoke;
}

@media (max-width: 1300px) {
    .burger-button {
        width: 250px;
    }
}


@media (max-width: 1015px) {
    .burger-button {
        padding: 12px 20px;
        width: 180px;
    }
}


@media (max-width: 845px) {
    .burger-button {
        width: 130px;
    }
}


@media (max-width: 450px) {
    .burger-button {
        width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}












