body {
    background-color: rgb(245, 245, 245);
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: orange;
    border-bottom-left-radius: 280px;
    border-bottom-right-radius: 280px;
}


.head {
    display: flex;
    margin-top: 40px;
}

.text {
    display: flex;
    flex-direction: column;
}


.primary {
    color: white;
    font-size: 45px;
    font-family: RobotoB, sans-serif;
}

.secondary {
    color: orangered;
    margin: 0;
}

.third {
    color: white;
    font-family: RobotoT, sans-serif;
    font-size: 25px;
    margin: 0;
    background-color: orange;
}


.burger {
    display: flex;
}

.burger-img {
    width: 326px;
}
















