.main {
    margin-top: 80px;
}


.foods {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.wrapper {
    display: flex;
}


.food-primary {
    display: flex;
    color: black;
    font-size: 16px;
    font-family: RobotoM, sans-serif;
    background-color: orange;
    border-radius: 50px;
    padding-left: 14px;
    padding-right: 14px;
    transition: all .5s;
}

.food:hover {
    background-color: rgb(255, 195, 84);
    cursor: pointer;
}


.food-text {
    margin-left: 10px;
}

.food {
    display: flex;
    color: black;
    font-size: 16px;
    font-family: RobotoM, sans-serif;
    background-color: white;
    border-radius: 50px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 30px;
}

/*Order*/
.order-foods {
    display: flex;
    margin-left: 30px;
}


.order {
    background-color: white;
    border-radius: 18px;
    width: 320px;
    height: 580px;
    margin-top: 125px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
}


.korzina {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.order-primary {
    color: black;
    font-size: 24px;
    font-family: RobotoB, sans-serif;
}

.order-secondary {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15px;
    font-family: RobotoB, sans-serif;
    background-color: whitesmoke;
    width: 50px;
    border-radius: 6px;
}


.order-food {
    display: flex;
    margin-top: 20px;
}

.order-img {
    width: 84px;
}


.order-food:first-child {
    margin: 0;
}

.name,
.weight,
.price {
    margin: 0;
    margin-left: 5px;
    margin-top: 5px;
}

.name {
    margin: 0;
    margin-left: 5px;
    color: black;
    font-family: RobotoM, sans-serif;
}

.weight {
    color: rgba(128, 128, 128, 0.596);
    font-family: RobotoM, sans-serif;
}

.price {
    color: black;
    font-family: RobotoM, sans-serif;
}

.number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    width: 90px;
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 16px;
    font-family: RobotoB, sans-serif;
}


.minus:hover,
.plus:hover {
    cursor: pointer;
    color: gray;
}



.between {
    display: flex;
    justify-content: space-between;
    width: 300px;
}


hr {
    height: 1px;
    background-color: whitesmoke;
    border: none;
    margin: 0;
    margin-top: 20px;
}

.order-price {
    display: flex;
    justify-content: space-between;
}


.price-primary,
.price-secondary {
    color: black;
    font-size: 16px;
    font-family: RobotoB, sans-serif;
}


.delivery {
    display: flex;
}

.delivery-text {
    margin-left: 10px;
    color: black;
    font-size: 16px;
    font-family: RobotoM, sans-serif;
}

/*Burgers*/
.burgers {
    display: flex;
    margin-top: 22px;
}

.burger:first-child {
    margin: 0;
}

.burger-primary {
    color: black;
    font-size: 40px;
    font-family: RobotoM, sans-serif;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 27px;
    margin-left: 22px;
}

.burger-info {
    background-color: white;
    border-radius: 18px;
    padding: 12px;
    margin-left: 20px;
}






.burger-name,
.burger-weight,
.burger-price {
    margin: 0;
    margin-left: 5px;
    margin-top: 5px;
}

.burger-name {
    margin: 0;
    margin-left: 5px;
    color: black;
    font-family: RobotoM, sans-serif;
}

.burger-weight {
    color: rgba(128, 128, 128, 0.596);
    font-family: RobotoM, sans-serif;
}

.burger-price {
    color: black;
    font-size: 25px;
    font-family: RobotoM, sans-serif;
}


@media (max-width: 1200px) {
    .food p, .food-primary p {
        display: none;
    }

    .food, .food-primary {
        padding: 5px 20px;
    }

    .order {
        display: none;
    }
}


@media (max-width: 1015px) {
    .burger-info img {
        width: 200px;
    }
}


@media (max-width: 845px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .foods {
        display: flex;
        flex-direction: column;
        width: 95px;
        margin-left: -10px;
        margin-top: 125px;
    }

    .food-primary {
        margin-left: 30px;
    }

    .main {
        display: flex;
        margin-top: 20px;
    }

    .order-foods {
        margin-left: 0px;
    }

    .food {
        margin-top: 10px;
    }



    .burger-price {
        font-size: 20px;
    }

    .burger-name {
        font-size: 15px;
    }

    .burger-weight {
        font-size: 15px;
    }

    .burger-info img {
        width: 160px;
    }

    .burger-info {
        margin-left: 10px;
    }
}


@media (max-width: 695px) {
    .burgers {
        display: grid;
    }
}




















