.footer {
    background-color: white;
    margin-top: 100px;
}


.footer-info {
    display: flex;
    align-items: center;
}


.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.footer-nav {
    color: black;
    font-size: 13px;
    font-family: RobotoM, sans-serif;
}


.logo {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 250px;
}


.footer-logo {
    margin-bottom: 20px;
    width: 300px;
}


.nav {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}


.nav:first-child {
    margin: 0;
}


.phone {
    display: flex;
    align-items: center;
    margin-left: 25px;
}



.number-for-call {
    font-size: 24px;
    color: black;
    font-family: RobotoM, sans-serif;
    margin: 0;
    margin-bottom: 8px;
}


.phone-number {
    color: black;
    font-family: RobotoM, sans-serif;
    font-size: 16px;
    margin-left: 8px;
}



.nav-primary {
    color: black;
    font-size: 24px;
    font-family: RobotoM, sans-serif;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 15px;
}


.internet {
    display: flex;
    align-items: center;
}


.VK {
    margin-right: 15px;
    cursor: pointer;
}


.telegram {
    cursor: pointer;
}


@media (max-width: 1200px) {
    .number-for-call {
        white-space: nowrap;
    }

    .nav-primary {
        white-space: nowrap;
    }

    .nav {
        margin-left: 80px;
    }

    .logo {
        margin-right: 180px;
    }
}


@media (max-width: 1080px) {
    .logo {
        margin-right: 180px;
    }
}


@media (max-width: 1000px) {
    .footer-logo {
        width: 250px;
    }
}


@media (max-width: 890px) {
    .logo {
        margin-right: 30px;
    }

    .footer-logo {
        width: 200px;
    }

    .number-for-call {
        font-size: 18px;
    }

    .phone-number {
        font-size: 14px;
    }

    .phone {
        margin-left: 7px;
    }

    .nav-primary {
        font-size: 18px;
    }
}


@media (max-width: 840px) {
    .logo {
        margin-right: 300px;
    }

    .footer-logo {
        width: 150px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
    }

    .nav {
        margin-left: 0;
        margin-top: 20px;
    }

    .nav:first-child {
        margin: 0;
    }

    .number-for-call {
        margin-bottom: 0;
    }

    .nav-primary {
        margin-bottom: 10px;
    }
}


@media (max-width: 700px) {
    .logo {
        margin-right: 200px;
    }
}


@media (max-width: 575px) {
    .logo {
        margin-right: 100px;
    }
}


@media (max-width: 480px) {
    .logo {
        margin-right: 50px;
    }
}


@media (max-width: 450px) {
    .logo {
        margin-right: 30px;
        padding-left: 20px;
    }
}