body {
    background-color: rgb(245, 245, 245);
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: orange;
    border-bottom-left-radius: 280px;
    border-bottom-right-radius: 280px;
    padding-bottom: 20px;
}


.head {
    display: flex;
    margin-top: 40px;
}

.text {
    display: flex;
    flex-direction: column;
}


.primary {
    color: white;
    font-size: 45px;
    font-family: RobotoB, sans-serif;
}

.secondary {
    color: orangered;
    margin: 0;
}

.third {
    color: white;
    font-family: RobotoT, sans-serif;
    font-size: 25px;
    margin: 0;
    background-color: orange;
}

.snack {
    display: flex;
}

.combos__img {
    margin-top: -30px;
    width: 350px;
}


@media (max-width: 1060px) {
    .logo {
        width: 200px;
    }
    
    .third {
        background: transparent;
    }
}



@media (max-width: 990px) {
    .snacks .snacks-img {
        width: 200px;
    }

    .primary, .secondary, .third {
        display: none;
    }
}


@media (max-width: 820px) {
    .snacks-img {
        display: none;
    }
}


@media (max-width: 630px) {
    .primary {
        margin: 0;
    }
}


@media (max-width: 535px) {
    .head {
        margin-top: 20px;
    }

    .third {
        margin-bottom: 10px;
    }
}


@media (max-width: 465px) {
    .primary, .secondary, .third {
        display: none;
    }

    .snacks .snacks-img {
        display: inline;
        width: 200px;
        margin-bottom: 20px;
    }

    .header section img {
        margin-top: 20px;
    }
}